<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="manifest href="manifest.json">
	<link rel="icon" type="imagem/png" href="icon-512x512.png"/>
	<link rel="apple-touch-icon" type="imagem/png" href="icon-512x512.png"/>
	<link rel="shortcut icon" type="imagem/png" href="icon-512x512.png"/>
	<meta name="viewport" content="width=decive-width,initial-scale=1">
</head>
<body>
	<h1> OFFLINE PAGE</h1>

	<script>
		if ('serviceWorker' in navigator){
		navigator.serviceWorker.register('generate-sw.js');
		}
	</script>
</body>
</html>